/* Reset */

html, body, ul, li, p, img, a, a img, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
}




/* Html & Body */

html,
body,
input,
textarea {
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.3;
}




/* Colors */

body,
.ui-widget-overlay.ui-front,
.ui-dialog {
	color: #7c8891;
	background-color: #1d3c4c;
}

a,
textarea,
input,
.ui-button.ui-button-text-only {
	color: #7c8891;
}

a:hover,
a:focus,
textarea:focus,
input:focus,
.ui-button:hover,
.ui-button:focus,
.selected {
	color: #d6e0e5;
}

.footer {
	opacity: 0.3;
}

/* Background Colors */

.bg,
.ui-dialog-content.ui-widget-content {
	background-color: rgba(255,255,255,0.06);
}

.bg.button,
.ui-button.ui-widget {
	background-color: rgba(255,255,255,0.15);
}

.bg.input {
	background-color: rgba(255,255,255,0.1);
}

input.bg:hover,
textarea.bg:hover {
	background-color: rgba(255,255,255,0.12);
}

input.bg:focus,
textarea.bg:focus {
	background-color: rgba(255,255,255,0.2);
}

.bg.button:hover,
.bg.button:focus,
.bg.selected,
.bg.selected:before,
.ui-button.ui-widget:hover,
.ui-button.ui-widget:focus {
	background-color: rgba(255,255,255,0.22);
}

#tabs .selected {
	box-shadow: 0 2px 0 0 rgba(255,255,255,0.22);
}

ul .tree li {
	border-color: rgba(255,255,255,0.06);
}

.tree input[type=submit] {
	background-color: rgba(255,255,255,0.06);
}

.tree input:hover,
.tree input:focus,
.tree input.selected {
	background-color: rgba(255,255,255,0.18);
}

.ui-dialog-titlebar {
	background-color: rgba(255,255,255,0.04);
}




/* Typography */ 

#wrapper-400 h1 {
	font-size: 46px;
	font-weight: 100;
}

#wrapper-400 h2 {
	font-size: 32px;
	font-weight: 100;
}

#wrapper-400 h3 {
	font-size: 21px;
	font-weight: 100;
}

#wrapper-1200 h1 {
	font-size: 36px;
	font-weight: 100;
}

#wrapper-1200 h2 {
	font-size: 28px;
	font-weight: 400;
}

#wrapper-1200 h3 {
	font-size: 21px;
	font-weight: 200;
}

b {
	font-weight: 500;
}

a.button,
.tree input,
input.button,
.ui-button.ui-widget.ui-corner-all {
	font-weight: 500;
}

#prefix input,
#title input {
	font-size: 28px;
}

#title input {
	font-weight: 500;
}

#prefix input {
	font-weight: 100;
}

.ui-dialog-title {
	font-weight: 500;
	font-size: 18px;
}




/* Layout */

#wrapper-400,
#wrapper-1200 {
	position: relative;
	margin: 20px auto;
}

#wrapper-400 {
	width: 400px;
}

#wrapper-1200 {
	width: 1200px;
}

#wrapper-400 .logo {
	text-align: center;
}

#wrapper-1200 .logo {
	padding: 12px 10px;
	position: absolute;
	right: 0;
}

#wrapper-400 .title {
	padding: 0 0 20px 0;
	text-align: center;
}

#wrapper-1200 .title {
	padding: 25px 15px 50px 15px;
}

.main {
	zoom: 1;
}

.main:before,
.main:after {
        content: '';
        display: table;	
}

.main:after {
	clear: both;
}

.box {
	float: left;
	margin: 1px;
	width: 398px;	
}

.box.big {
	width: 798px;
}

.text {
	padding: 14px;
	display: block;
}

.item + .item {	
	margin-top: 2px;
}

.footer {
	padding: 70px 15px 20px 15px;
	text-align: center;
}





/* Menus */

/* 400 */

#wrapper-400 .menu .item {
	display: block;
	text-align: center;
	padding: 14px;
	margin: 0 1px 2px 1px;
} 

/* 1200 */

#wrapper-1200 .menu {
	position: relative;
	width: 1202px;
	display: table;
	margin: 0 0 12px -1px;
	table-layout: fixed;
	border-spacing: 2px;
	border-collapse: separate;
}

#wrapper-1200 .menu .item {
	width: 1%;
	height: 25px;
	display: table-cell;
	padding: 14px;
	font-size: 18px;
	text-align: center;
}

#tabs.menu a.selected:before {
	content: '';
	display: block;
	position: absolute;
	left: 2px;
	height: 11px;
	bottom: -11px;
	width: 1198px;
}

/* Page */

#page-menu.menu {
	width: 802px;
	padding: 0;
	margin: -2px;	
}

#page-menu.menu .item {
	padding: 0;
}

#page-menu.menu input {
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 55px;
}




/* Site Tree */

.tree {
	padding: 10px;
	list-style-type: none;
	overflow: auto;
}

/* ul .tree - only nested elements, exclude top element */
ul .tree {
	padding: 0;
	margin: 0;
	overflow: visible;
}

ul .tree li {
	padding: 2px 0 0 2px;
	border-left-style: solid;
	border-left-width: 20px;
}

.tree form {
	display: inline-block;
}

.tree input[type=submit] {
	display: inline;
	width: auto;
	height: auto;
	padding: 5px 7px;
	margin: 0;
	text-align: left;
}




/* Forms */

label {
	display: block;
	padding: 10px 14px 2px 14px;	
	color: rgba(255,255,255,0.1);	
}

textarea,
input {
	background-color: transparent;
}

input[type=button],
input[type=text],
input[type=password],
input[type=submit],
input[type=reset],
textarea,
.checkbox,
.selectbox {
	display: block;
	padding: 14px;
	margin: 0;
	width: 370px;
	min-height: 27px;
	border: none;
	outline: 0;
	line-height: inherit;
}

.big input[type=text],
.big textarea,
.big .checkbox,
.big .selectbox {
	width: 770px;
	max-width: 770px;
}

input[type=button],
input[type=submit],
input[type=reset] {
	width: 100%;
	height: 55px;
	cursor: pointer;
	text-align: center;
}

input:focus,
input:focus {
	outline: 0;
	
}

input[type=checkbox] {
	margin-right: 15px;
}

textarea {
	height: auto;
}

input::-moz-focus-inner { 
	border: 0; /* Outline on focus */ 
}

::-webkit-input-placeholder { 
	color: rgba(255,255,255,0.25); 
}

::-moz-placeholder { 
	color: rgba(255,255,255,0.25); 
} 

:-ms-input-placeholder { 
	color: rgba(255,255,255,0.25); 
}

input:-moz-placeholder { 
	color: rgba(255,255,255,0.25); 
}

/* Edit Page Form */

#title,
#template {
	margin-right: 2px;
}

#prefix,
#title,
#template,
#hidden {
	display: inline-block;
}

#prefix > * {
	width: 130px;
}
 
#title > * {
	width: 610px;
}

#prefix input,
#title input {
	height: 35px;
}

#template > *,
#template select,
#hidden > * {
	width: 370px;
}

.custom a.removeCustom {
	display: inline-block;
	position: absolute;
	right: 0px;
	z-index: 2;
	width: auto;
	height: auto;
	padding: 10px 14px 2px 14px;
	background: none;
	color: rgba(255,255,255,0.1);
}




/* Dialog */

.ui-widget,
.ui-widget button,
.ui-dialog,
.ui-dialog .ui-dialog-titlebar,
.ui-dialog-content.ui-widget-content,
.ui-dialog-buttonpane.ui-widget-content,
.ui-button.ui-widget.ui-corner-all,
.ui-button .ui-button-text,
.ui-button-text-only .ui-button-text,
.ui-widget-overlay.ui-front {
	background-image: none;
	border-width: 0;
	border-style: none;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

.ui-widget-overlay.ui-front {
	opacity: 0.8;
}

.ui-dialog {
  	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.22);
	-moz-box-shadow:    0px 1px 10px 0px rgba(0,0,0,0.22);
	box-shadow:         0px 1px 10px 0px rgba(0,0,0,0.22);
}

.ui-dialog-buttonpane.ui-widget-content {
	background: none;
}

.ui-dialog-title {
	opacity: 0.55;
	padding: 14px;
}

.ui-dialog-content.ui-widget-content {
	margin-top: 2px;
}

.ui-dialog-content.ui-widget-content input {
	font-family: inherit;
}

.ui-dialog-buttonset {
	width: 100%;
}

.ui-button.ui-widget.ui-corner-all {
	display: inline-block;
	padding: 14px;
	margin: 2px 0 0 0;
	width: 100%;
	height: 55px;
	border: none;
	outline: 0;
}

.ui-dialog-titlebar-close.ui-button-icon-only.ui-button {
	display: none;
}


