# Do not use .env files on production servers!
#
# Note that .env files should only be used during development on local machines.
# A production site can be configured by setting environment variables
# in the web server configuration or the config.php file instead.
#
# While all available settings can be defined inside the config.php file,
# only the following subset can be set as environment variables.

AM_ALLOWED_FILE_TYPES=
AM_CACHE_ENABLED=
AM_CACHE_LIFETIME=
AM_CACHE_MONITOR_DELAY=
AM_DEBUG_BROWSER=
AM_DEBUG_ENABLED=
AM_DEBUG_LOG_MAX_SIZE=
AM_DEBUG_LOG_PATH=
AM_DISK_QUOTA=
AM_MAIL_FROM=
AM_MAIL_SMTP_PASSWORD=
AM_MAIL_SMTP_PORT=
AM_MAIL_SMTP_SERVER=
AM_MAIL_SMTP_USERNAME=
AM_MAIL_TRANSPORT=
AM_MAINTENANCE_MODE_ENABLED=
AM_MAINTENANCE_MODE_TEXT=
AM_OPEN_BASEDIR_ENABLED=
AM_PASSWORD_MIN_LENGTH=
AM_PASSWORD_REQUIRED_CHARS=
