.github export-ignore
automad/src/client export-ignore
automad/tests export-ignore
automad/tsconfig.json export-ignore
bin export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
package-lock.json export-ignore
package.json export-ignore
phpunit.xml export-ignore
webpack.common.js export-ignore