*-legacy.*
.history
.php-cs-fixer.cache
.phpunit.result.cache
/automad/legacy
/automad/src/client/blocks/legacy
/cache/*
/config/*
/lib/vendor
/packages
/pages/.trash
/pages/index
/pages/test
/sitemap.xml
/vendor
dist
node_modules
robots.txt
