*-legacy.*
.history
.php-cs-fixer.cache
.phpunit.result.cache
/automad/legacy
/automad/src/client/blocks/legacy
/lib/vendor
/packages
/pages
/shared
/sitemap.xml
/vendor
dist
node_modules
phpunit*.phar
psalm*.phar
robots.txt
