<!-- Editor/Toolbar/Toolbox.html -->
<div
	class="ce-toolbar ce-toolbar--opened"
	style="top: 12px; --x: 130px; --y: 0px; --diff-right: 1057px"
>
	<div class="ce-toolbar__content">
		<div class="ce-toolbar__actions ce-toolbar__actions--opened">
			<div class="ce-toolbar__plus">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2"
						d="M12 7V12M12 17V12M17 12H12M12 12H7"
					></path>
				</svg>
			</div>
			<span class="ce-toolbar__settings-btn" draggable="true"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2.6"
						d="M9.40999 7.29999H9.4"
					></path>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2.6"
						d="M14.6 7.29999H14.59"
					></path>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2.6"
						d="M9.30999 12H9.3"
					></path>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2.6"
						d="M14.6 12H14.59"
					></path>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2.6"
						d="M9.40999 16.7H9.4"
					></path>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2.6"
						d="M14.6 16.7H14.59"
					></path></svg
			></span>
			<div class="ce-toolbox">
				<div class="ce-popover__overlay"></div>
				<div
					class="ce-popover ce-popover--opened"
					style="--popover-height: 707px"
				>
					<div class="cdx-search-field ce-popover__search">
						<div class="cdx-search-field__icon">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								fill="none"
								viewBox="0 0 24 24"
							>
								<circle
									cx="10.5"
									cy="10.5"
									r="5.5"
									stroke="currentColor"
									stroke-width="2"
								></circle>
								<line
									x1="15.4142"
									x2="19"
									y1="15"
									y2="18.5858"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-width="2"
								></line>
							</svg>
						</div>
						<input
							class="cdx-search-field__input"
							placeholder="Filter"
							tabindex="-1"
						/>
					</div>
					<div class="ce-popover__nothing-found-message">
						Nothing found
					</div>
					<div class="ce-popover__items">
						<div class="ce-popover-item" data-item-name="paragraph">
							<div class="ce-popover-item__icon">
								<i class="bi bi-text-paragraph"></i>
							</div>
							<div class="ce-popover-item__title">Text</div>
						</div>
						<div class="ce-popover-item" data-item-name="header">
							<div class="ce-popover-item__icon">
								<i class="bi bi-type-h1"></i>
							</div>
							<div class="ce-popover-item__title">Heading</div>
						</div>
						<div class="ce-popover-item" data-item-name="section">
							<div class="ce-popover-item__icon">
								<i class="bi bi-layout-three-columns"></i>
							</div>
							<div class="ce-popover-item__title">
								Layout Section
							</div>
						</div>
						<div class="ce-popover-item" data-item-name="component">
							<div class="ce-popover-item__icon">
								<i class="bi bi-boxes"></i>
							</div>
							<div class="ce-popover-item__title">Component</div>
						</div>
						<div
							class="ce-popover-item"
							data-item-name="nestedList"
						>
							<div class="ce-popover-item__icon">
								<i class="bi bi-list-ul"></i>
							</div>
							<div class="ce-popover-item__title">List</div>
						</div>
						<div class="ce-popover-item" data-item-name="table">
							<div class="ce-popover-item__icon">
								<i class="bi bi-grid-3x3"></i>
							</div>
							<div class="ce-popover-item__title">Table</div>
						</div>
						<div class="ce-popover-item" data-item-name="quote">
							<div class="ce-popover-item__icon">
								<i class="bi bi-quote"></i>
							</div>
							<div class="ce-popover-item__title">Blockquote</div>
						</div>
						<div class="ce-popover-item" data-item-name="delimiter">
							<div class="ce-popover-item__icon">
								<i class="bi bi-hr"></i>
							</div>
							<div class="ce-popover-item__title">Delimiter</div>
						</div>
						<div class="ce-popover-item" data-item-name="image">
							<div class="ce-popover-item__icon">
								<i class="bi bi-image"></i>
							</div>
							<div class="ce-popover-item__title">Image</div>
						</div>
						<div class="ce-popover-item" data-item-name="video">
							<div class="ce-popover-item__icon">
								<i class="bi bi-film"></i>
							</div>
							<div class="ce-popover-item__title">Video</div>
						</div>
						<div class="ce-popover-item" data-item-name="gallery">
							<div class="ce-popover-item__icon">
								<i class="bi bi-columns"></i>
							</div>
							<div class="ce-popover-item__title">
								Image Gallery
							</div>
						</div>
						<div
							class="ce-popover-item"
							data-item-name="imageSlideshow"
						>
							<div class="ce-popover-item__icon">
								<i class="bi bi-collection-play"></i>
							</div>
							<div class="ce-popover-item__title">
								Image Slideshow
							</div>
						</div>
						<div class="ce-popover-item" data-item-name="buttons">
							<div class="ce-popover-item__icon">
								<i class="bi bi-hand-index-thumb"></i>
							</div>
							<div class="ce-popover-item__title">Buttons</div>
						</div>
						<div
							class="ce-popover-item"
							data-item-name="tableOfContents"
						>
							<div class="ce-popover-item__icon">
								<i class="bi bi-list-columns"></i>
							</div>
							<div class="ce-popover-item__title">
								Table of Contents
							</div>
						</div>
						<div class="ce-popover-item" data-item-name="code">
							<div class="ce-popover-item__icon">
								<i class="bi bi-code-slash"></i>
							</div>
							<div class="ce-popover-item__title">
								Source Code
							</div>
						</div>
						<div class="ce-popover-item" data-item-name="raw">
							<div class="ce-popover-item__icon">
								<i class="bi bi-markdown"></i>
							</div>
							<div class="ce-popover-item__title">
								HTML / Markdown
							</div>
						</div>
						<div class="ce-popover-item" data-item-name="mail">
							<div class="ce-popover-item__icon">
								<i class="bi bi-envelope"></i>
							</div>
							<div class="ce-popover-item__title">Mail Form</div>
						</div>
						<div class="ce-popover-item" data-item-name="pagelist">
							<div class="ce-popover-item__icon">
								<i class="bi bi-columns-gap"></i>
							</div>
							<div class="ce-popover-item__title">Pagelist</div>
						</div>
						<div class="ce-popover-item" data-item-name="filelist">
							<div class="ce-popover-item__icon">
								<i class="bi bi-files"></i>
							</div>
							<div class="ce-popover-item__title">Filelist</div>
						</div>
						<div class="ce-popover-item" data-item-name="snippet">
							<div class="ce-popover-item__icon">
								<i class="bi bi-code-square"></i>
							</div>
							<div class="ce-popover-item__title">Snippet</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ce-settings"></div>
		</div>
	</div>
</div>
