<section class="am-l-main__row">
	<nav class="am-l-main__content">
		<am-page-breadcrumbs></am-page-breadcrumbs>
	</nav>
</section>
<section class="am-l-main__row am-l-main__row--sticky">
	<menu class="am-l-main__content">
		<am-switcher>
			<am-switcher-link section="{{ app:sections.content.settings }}">
				{{ text:page_settings }}
			</am-switcher-link>
			<am-switcher-link section="{{ app:sections.content.text }}">
				{{ text:page_vars_content }}
			</am-switcher-link>
			<am-switcher-link section="{{ app:sections.content.colors }}">
				{{ text:page_vars_color }}
			</am-switcher-link>
			<am-switcher-link section="{{ app:sections.content.files }}">
				{{ text:btn_files }}
			</am-switcher-link>
		</am-switcher>
	</menu>
</section>
<section class="am-l-main__row">
	<div class="am-l-main__content">
		<am-page-data api="Page/data"></am-page-data>
		<am-switcher-section name="{{ app:sections.content.files }}">
			<am-submit form="FileCollection/list">{{ text:btn_remove_selected }}</am-submit>
			<am-file-collection-list api="FileCollection/list"></am-file-collection-list>
		</am-switcher-section>
	</div>
</section>