body {
	background-color: #f5f5f5;
}

.container {
	margin-top: 50px;
}

ul.nav-stacked {
	margin-left: -10px;
}

ul.nav-stacked ul {
	margin-left: 20px;
}

ul.nav-stacked > li > a {
	margin: 1px 0;
	padding: 5px 10px;
	
}

.input-group {
	table-layout: fixed;
	width: 100%;
}

.input-group + .input-group {
	margin-top: 10px;
}

.input-group span {
	width: 90px;
	text-align: left;
}

.tab-pane {
	padding-top: 15px;
}