/* Typography */ 

html,
body,
button,
input,
textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.2;
}

b {
	font-weight: 900;
}

h1 {
	font-size: 36px;
	font-weight: 200;
	line-height: 0.9;
	letter-spacing: -2px;
}

#wrapper-400 h1 {
	font-size: 64px;
	letter-spacing: -4px;
}

h2,
.ui-dialog-title {
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -1px;
}

#edit-data-title,
#edit-prefix {
	font-size: 36px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: -2px;
}

#edit-prefix {
	font-weight: 200;
}

body,
input,
textarea,
button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




/* Colors */

body,
a {
	color: #222222;
}

a:hover {
	color: #444444;	
}

.bg,
.bg a,
.button,
.input:focus,
.input:hover,
.custom a,
.tree input,
.ui-dialog-title,
.ui-dialog.ui-widget.ui-widget-content.ui-front,
#edit-data-title,
#edit-prefix {
	color: #222222;
}

.button.selected,
.custom a:hover,
.button:hover,
.button:focus,
.tree input:hover,
.tree .selected > form input,
.ui-button.ui-widget.ui-state-hover:hover,
.ui-button.ui-widget.ui-state-focus:focus {
	color: #000000;
}

.input,
label.bg {
	color: #cccccc;
}

::-webkit-input-placeholder { 
	color: #cccccc;
}

::-moz-placeholder { 
	color: #cccccc; 
} 

:-ms-input-placeholder { 
	color: #cccccc; 
}

input:-moz-placeholder { 
	color: #cccccc; 
}





/* Background Colors */

body,
.ui-widget-overlay.ui-front,
.ui-dialog {
	background-color: #d9d9d9;
}

ul .tree li {
	border-color: #d9d9d9;
}

.bg,
.ui-dialog-titlebar,
.ui-button.ui-widget {
	background-color: #f5f5f5;
}

.input:focus,
.input:hover,
.button.selected,
.button:hover,
.tree li input:hover,
.tree li.selected,
.ui-button.ui-widget:hover,
.ui-button.ui-widget:focus {
	background-color: #ffffff;
}

.progress .bar {
	background-color: #222222;
}




/* Focus */

.button:active,
.ui-button.ui-widget:active,
.input:focus,
.tree li input:active {
	-webkit-box-shadow: 	inset 0px 1px 5px rgba(0,0,0,0.17);
	-moz-box-shadow:    	inset 0px 1px 5px rgba(0,0,0,0.17);
	box-shadow: 		inset 0px 1px 5px rgba(0,0,0,0.17);
}




/* Transitions */

a,
button,
input,
textarea {
	-webkit-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
	-moz-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
	-ms-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
	-o-transition: color 0.4s, background-color 0.4s, border-color 0.4s;
	transition: color 0.4s, background-color 0.4s, border-color 0.4s;
}





/* Layout */

#wrapper-400,
#wrapper-1200 {
	position: relative;
	
}

#wrapper-400 {
	width: 400px;
	margin: 80px auto;
}

#wrapper-1200 {
	width: 1200px;
	margin: 30px auto;
}

.container {
	zoom: 1;
	padding: 15px 0;
}

.container:before,
.container:after {
        content: '';
        display: table;	
}

.container:after {
	clear: both;
}

.box {
	float: left;
	margin: 1px;
	width: 398px;	
}

.box.big {
	width: 798px;
}

.box.full {
	width: 1198px;
}

.text {
	padding: 14px;
}

.item + .item {	
	margin-top: 2px;
}

.footer {
	padding: 50px 15px;
	opacity: 0.2;
}




/* Main Menu */

#wrapper-400 #main-menu {
	list-style-type: none;
}

#wrapper-1200 #main-menu {
	display: table;
	table-layout: fixed;
	border-spacing: 2px;
	border-collapse: separate;
	margin: -2px;	
}

#wrapper-1200 #main-menu li {
	display: table-cell;
	width: 1%;
}

#main-menu li a {
	display: block;
	text-align: center;
	padding: 20px 14px;
}




/* Page Menu */

#page-menu {
	position: relative;
	display: table;
	table-layout: fixed;
	border-spacing: 2px;
	border-collapse: separate;
	width: 802px;
	padding: 0;
	margin: -2px;	
}

#page-menu .item {
	padding: 0;
	width: 1%;
	height: 25px;
	display: table-cell;
	font-size: 18px;
	text-align: center;
}




/* Site Tree */

.tree {	
	list-style-type: none;
	overflow: auto;
}

/* ul .tree - only nested elements, exclude top element */
ul .tree {
	padding: 0px 0 2px 2px;
	margin: 0;
	overflow: visible;
}

ul .tree li {
	border-style: solid;
	border-width: 2px;
	border-right-width: 0;
	border-bottom-width: 0;
	margin: 0 0 -2px 10px;
}

.tree input[type=submit] {
	height: 36px;
	padding: 9px 14px;
	text-align: left;
	margin: 0;
}




/* Forms */

label {
	display: block;
	padding: 10px 14px 2px 14px;		
}

textarea,
input {
	background-color: transparent;
}

button,
input[type=text],
input[type=password],
input[type=submit],
input[type=reset],
textarea,
.checkbox,
.selectbox {
	display: block;
	padding: 14px;
	margin: 0;
	width: 370px;
	min-height: 27px;
	border: none;
	outline: 0;
	line-height: inherit;
}

.big input[type=text],
.big textarea,
.big .checkbox,
.big .selectbox {
	width: 770px;
	max-width: 770px;
}

button,
input[type=submit],
input[type=reset] {
	width: 100%;
	height: 55px;
	cursor: pointer;
	text-align: center;
}

input:focus,
button:focus,
button::-moz-focus-inner {
	outline: 0;
	border: 0;
}

input[type=checkbox] {
	margin-right: 15px;
}

textarea {
	height: auto;
}

select {
	width: inherit;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

input::-moz-focus-inner { 
	border: 0; /* Outline on focus */ 
}

/* Edit Page Form */

#edit-title-box,
#edit-template-box {
	margin-right: 2px;
}

#edit-prefix-box,
#edit-title-box,
#edit-template-box,
#edit-hidden-box {
	display: inline-block;
}

#edit-prefix-box > * {
	width: 130px;
}
 
#edit-title-box > * {
	width: 610px;
}

#edit-prefix-box input,
#edit-title-box input {
	height: 42px;
}

#edit-template-box > *,
#edit-hidden-box > * {
	width: 370px;
}

.custom a.removeCustom {
	display: inline-block;
	position: absolute;
	right: 0px;
	z-index: 2;
	width: auto;
	height: auto;
	padding: 10px 14px 2px 14px;
}




/* File Manager */

#filemanager {
	overflow: hidden;
}

#filemanager table {
	width: 600px;
	border-collapse: separate;
	border-spacing: 0 2px;
	margin: -2px 0;
}

#filemanager td {
	vertical-align: top;
}

#filemanager .preview {
	width: 160px;
}

#filemanager .preview a {
	display: block;
	height: 120px;
}

#filemanager .preview img {
	border-width: 2px;
	border-color: #ffffff;
	border-style: solid;
	margin: -2px;
}

#filemanager .info {
	width: 330px;
}

#filemanager .select {
	width: 20px;
}

#upload {
	position: relative;
}

#upload-dropzone-text {
	position: absolute;
	top: 30px;
	left: 70px;
	width: 200px;
	height: 50px;
	padding: 98px 28px 108px 28px;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 	30px; 
	-moz-border-radius: 	30px; 
	border-radius: 		30px;
	-webkit-box-shadow: 	inset 1px 1px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:    	inset 1px 1px 10px rgba(0,0,0,0.3);
	box-shadow: 		inset 1px 1px 10px rgba(0,0,0,0.3);
	text-align: center;
	background-color: #ffffff;
	border-color: #ffffff;
	opacity: 0.8;
}

#upload-dropzone {
	position: relative;
	height: 320px;
	z-index: 5;
}
