html,
body {
	color: #ffffff;
	background-color: #333333;
	min-height: 100%;
}

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	max-width: 800px;
	margin: auto;
}

a {
	color: #ffffff;
}

pre {
	width: 800px;
}

li .title {
	font-weight: bold;
	font-size: 22px;
}

li .subtitle {
	font-weight: bold;
	font-size: 18px;
}