html,
body {
	color: #ffffff;
	background-color: #333333;
	min-height: 100%;
}

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	max-width: 800px;
	margin: auto;
}

a {
	color: #ffffff;
}

a:hover {
	color: #cccccc;
}

a.home {
	color: #E8E899;
}

a.current {
	color: #6CE5E0;
}

a.currentPath {
	color: #EBAFBD;
}

pre {
	width: 800px;
}

ul.nav,
ul.list,
ul.filter,
ul.sort {
	padding: 0px;
	list-style-type: none;
}

.filter,
.sort {
	font-size: 12px;
}

.sort li,
.filter li, 
.nav li {
	display: inline;
	padding-right: 1em;
}

.list li {
	margin-bottom: 1em;
}

li .title {
	font-weight: bold;
	font-size: 22px;
}

li .subtitle {
	font-weight: bold;
	font-size: 18px;
}