<!-- Editor/InlineToolbar.html -->
<div
	class="ce-inline-toolbar ce-inline-toolbar--showed"
	style="left: 220px; top: 60px"
>
	<div class="ce-inline-toolbar__toggler-and-button-wrapper">
		<div class="ce-inline-toolbar__dropdown">
			<div class="ce-inline-toolbar__dropdown-content">
				<i class="bi bi-text-paragraph"></i>
			</div>
			<div class="ce-inline-toolbar__dropdown-arrow">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-width="2"
						d="M7 10L11.8586 14.8586C11.9367 14.9367 12.0633 14.9367 12.1414 14.8586L17 10"
					></path>
				</svg>
			</div>
		</div>
		<div class="ce-inline-toolbar__buttons">
			<button
				class="ce-inline-tool ce-inline-tool--active"
				type="button"
				data-tool="alignLeft"
			>
				<i class="bi bi-text-left"></i></button
			><button
				class="ce-inline-tool"
				type="button"
				data-tool="alignCenter"
			>
				<i class="bi bi-text-center"></i></button
			><button
				class="ce-inline-tool"
				type="button"
				data-tool="alignRight"
			>
				<i class="bi bi-text-right"></i></button
			><button class="ce-inline-tool" type="button" data-tool="bold">
				<i class="bi bi-type-bold"></i></button
			><button class="ce-inline-tool" type="button" data-tool="italic">
				<i class="bi bi-type-italic"></i></button
			><button class="ce-inline-tool" type="button" data-tool="fontSize">
				<i class="bi bi-fonts"></i></button
			><button
				class="ce-inline-tool"
				type="button"
				data-tool="lineHeight"
			>
				<i class="bi bi-distribute-vertical"></i></button
			><button
				class="ce-inline-tool ce-inline-tool--active"
				type="button"
				data-tool="link"
			>
				<i class="bi bi-link-45deg"></i></button
			><button
				class="ce-inline-tool"
				type="button"
				data-tool="codeInline"
			>
				<i class="bi bi-code"></i></button
			><button class="ce-inline-tool" type="button" data-tool="underline">
				<i class="bi bi-type-underline"></i></button
			><button
				class="ce-inline-tool"
				type="button"
				data-tool="strikeThrough"
			>
				<i class="bi bi-type-strikethrough"></i></button
			><button class="ce-inline-tool" type="button" data-tool="color">
				<i class="bi bi-paint-bucket"></i>
			</button>
		</div>
	</div>
	<div class="ce-inline-toolbar__actions">
		<div>
			<div class="am-c-field">
				<label class="am-c-field__label">Link</label
				><am-autocomplete-url class="am-c-dropdown"
					><input class="am-f-input" type="text" value="/page" />
				
			</div>
			<am-toggle-field class="am-c-field"
				><div>
					<label
						class="am-c-field__label"
						for="am-field__SBocj9qSCsZ6W91LzxS0NOP0hqpv7poR"
						><span>Open in a new tab</span></label
					>
				</div>
				<div class="am-f-toggle am-f-toggle--button">
					<input
						value="1"
						id="am-field__SBocj9qSCsZ6W91LzxS0NOP0hqpv7poR"
						name="target"
						type="checkbox"
						spellcheck="false"
						class=""
					/><label for="am-field__SBocj9qSCsZ6W91LzxS0NOP0hqpv7poR"
						><i class="bi"></i><span>Open in a new tab</span></label
					>
				</div></am-toggle-field
			>
		</div>
	</div>
	<div class="ce-conversion-toolbar">
		<div class="ce-conversion-toolbar__label">Convert to</div>
	</div>
</div>
